<section class="sm:w-3/4 h-dvh flex flex-col justify-start items-center p-2 sm:py-4 sm:px-12 w-full font-mono font-thin">
    <div class="w-full">
        <h1 class="text-[7vw] sm:text-[4.5vw] leading-[1] font-krafting max-w-[20ch] mb-8">Una colección de cosas que hemos hecho o seguimos desarrollando.</h1>
        <section class="flex flex-col">

            <div class="contents after:content-[''] after:col-span-full after:h-[1px] after:bg-black after:my-2">
                <a target="_blank" class="mb-0.5" href="https://github.com/PublicEnemy15/ProyectoWeb">
                    <div class="flex items-center gap-1.5">
                        <div class="flex justify-center rounded-full items-center font-sans-bold bg-black text-white w-4 h-4 text-xs">→</div>
                        <h2 class="font-krafting sm:text-md text-sm m-0">Kith Manga</h2>
                    </div>
                </a>
                <p class="font-drive mt-5 text-xs sm:text-md">Kith Manga es una pagina realizada para el taller web nuestro primer proyecto en astro.</p>
            </div>

            <div class="contents after:content-[''] after:col-span-full after:h-[1px] after:bg-black after:my-2">
                <a target="_blank" class="mt-10 mb-0.5" href="https://github.com/PublicEnemy15/ForoRata">
                    <div class="flex items-center gap-1.5">
                        <div class="flex justify-center rounded-full items-center font-sans-bold bg-black text-white w-4 h-4 text-xs">→</div>
                        <h2 class="font-krafting sm:text-md text-sm m-0">Foro Rata (Aun en desarrollo)</h2>
                    </div>
                </a>
                <p class="font-drive mt-5 text-xs sm:text-md">Foro Rata es un proyecto en desarrollo que busca crear una plataforma de discusión en línea o algo así.</p>
            </div>

        </section>
    </div>
</section>