<section class="w-full h-dvh items-center justify-center flex flex-col gap-8">
    <div class="flex flex-col gap-20 font-mono text-center text-[0.5rem] font-thin mb-8 sm:text-[0.6rem]">
        <div class="relative inline-block">
            <h1 class="font-sequential leading-none relative">
                <span class="text-[30vw] sm:text-[20vw] tracking-[-0.1em] sm:tracking-[-0.05em]">P</span>
                <span class="text-[10vw] tracking-tighter">ortafolio</span>
                <span class="font-london text-[16vw] tracking-tighter text-[var(--color-prueba)]">.</span>
            </h1>
            <span class="absolute top-0 -right-5 font-mono font-thin text-[0.4rem] sm:text-2xs">[2025]</span>
            <span class="absolute -bottom-5 -left-[-30px] font-mono font-thin uppercase text-[0.4rem] sm:text-2xs">[Actualmente en UTP]</span>

        </div>
        <div class="flex flex-col gap-1 my-auto items-center">
            <p class="font-mono-bold">Portafolio para demostrar que no somos burritos</p>
            <p>Programar por diversion <span class="text-[var(--color-prueba)]">(no).</span></p>
            <p class="font-mono-bold mt-2">***</p>
        </div>
    </div>
</section>