<footer class="flex flex-col items-center mt-auto sm:justify-between p-2 mb-4 sm:py-4">
    <div class="w-full">
        <hr class="w-full my-4 sm:my-6">
        <div class="w-full">
            <div class="w-full flex justify-between items-end"></div>
            <div class="w-full flex justify-between font-mono font-thin text-[0.45rem] sm:text-[0.6rem]">
                <div class="flex flex-col justify-between uppercase">
                    <a class="font-mono" target="_blank" href="https://github.com/PublicEnemy15">github Franco ↗</a>
                    <a class="font-mono" target="_blank" href="https://github.com/Travline">github Polux ↗</a>
                    <a class="font-mono" target="_blank" href="https://github.com/Yefferson145">github Yefferson ↗</a>
                </div>
                <div class="flex flex-col gap-1 items-end">
                    <p>
                        <span class="font-mono mr-1 text-[0.7rem] ">© 2025</span>
                        <span class="font-krafting text-[0.85rem]">PublicEnemy15</span>
                    </p>
                    <div class="flex flex-col gap-1 uppercase text-right text-[0.45rem] sm:text-[0.6rem]">
                        <p>Diseñada y hecha por PublicEnemy15.</p>
                        <p>Pagina hecha el 9/2/2025 la primera vez que hago algo junto a ella <span class="text-[var(--color-prueba)]">ANDREA</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>