<section class="flex flex-col">
    <header class="h-12 sm:h-14 px-4 sm:px-16">
        <nav class="h-full flex items-center justify-between">
            <h1 class="font-krafting Krafting-Size leading-none">
                <a class="hover:text-[var(--color-prueba)] ease-in-out duration-300" href="/">Santa Cruz Dept</a>
            </h1>
            <div class="flex gap-5 default-font uppercase leading-[15px] text-2xs sm:text-xs">
                <a href="/about">About</a>
                <a href="/proyectos">Proyectos</a>
            </div>
        </nav>
    </header>
</section>
